# Core Libraries
pandas
numpy
scipy
seaborn
matplotlib

# Machine Learning & Preprocessing
scikit-learn
LGBMClassifier
imbalanced-learn
imblearn

# Streamlit for Deployment
streamlit

